.App {
  padding-left: 25px;
  padding-right: 25px;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background-color: steelblue;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 10px 0;
  padding: 10px;
  border-left: 5px solid #ccc;
  cursor: pointer;
  user-select: none;
}

.task.reminder {
  border-left: 5px solid green;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin-bottom: 10px;
}

.form-control > label {
  margin-right: 10px;
}

.mini {
  border:1px solid #eee;
  height: 256px;
}

.form-control-check {
  display: flex;
  align-items: center;
}

footer {
  font-size: 0.75em;
}
